{% include 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
   {% block body %}
    <p>Username {{ form_widget(form.username) }}</p>
    {{ form_errors(form.username) }}

    <p>email {{ form_widget(form.email) }}</p>
    {{ form_errors(form.email) }}

    <p>{{ form_widget(form.plainPassword) }}</p>
    {{ form_errors(form.plainPassword) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
   {% endblock %}